# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
packages/components/remark-infographic/index.ts
packages/components/remark-infographic/readme.md
packages/components/remark-infographic/core/types.ts
packages/components/remark-infographic/engine/rehypeInfographic.ts
packages/components/remark-plantuml/index.ts
packages/components/remark-plantuml/readme.md
packages/components/remark-plantuml/core/types.ts
packages/components/remark-plantuml/engine/rehypePlantuml.ts
